page-home {
.background-home {
    background: #1a0a3a;
    color: #fff;
}

.wave{
    position: absolute;
    background: #6285c6;
    width: 900px;
    height: 900px;
    border-radius: 43%;
    transform-origin: 50% 48%;
    animation: drift 4000ms infinite linear;
    opacity: 0.3;
    bottom: -125%;
    left: -60%;
}

.wave.wave1 {
    animation: drift 6000ms infinite linear;
}

.wave.wave2 {
    animation: drift 8000ms infinite linear;
}

// .manu-home-active {
//     height: 200px;
//     width: 200px;
//     background: #ff3e62;
//     border-radius: 10%;
// }

.manu-home-active{
    height: 170px;
    background: #ff3e62;
    border-radius: 6px;
    
}

.manu-home-close{
    height: 170px;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}

.manu-top{
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 10%;
}
@keyframes drift {
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}
}
