<!-- <ion-header>
  <ion-navbar>
    <ion-title>Multimedia</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-home">
  <!-- Header -->
  <p></p><h1>Select Climate</h1><p></p>
  <h1>Settings</h1><p></p>
  <h5 style="color: #998ead"> Favorite Present</h5>

  <!-- slide -->
<ion-slides slidesPerView ="2.5" spaceBetween = "10px" style="height: 30%">
  <ion-slide>
    <div class="manu-home-active"><img class="manu-top" src="./assets/imgs/sun.svg">Heat
    <div style="font-size: 33px;">10 - 19</div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="manu-home-close"><img class="manu-top" src="./assets/imgs/snow.svg">Cool
      <div style="font-size: 33px;">3 - 7</div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="manu-home-close"><img class="manu-top" src="./assets/imgs/wide.svg">Wide
      <div style="font-size: 33px;">10 - 19</div>
    </div>
  </ion-slide>
</ion-slides>

<div style="font-size:120px;" class="manu-top">19</div>



<!-- Footer -->
  <div class="wave"></div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>

</ion-content>

<!-- <ion-footer style="background: #000;">
  <h2>Welcome to Ionic!</h2>
</ion-footer> -->